---
---

<style>
    nav {
        background-color: initial;
        padding: 0.5rem 0.5rem;
        border-radius: 8px;
        max-width: 90%; /* Adjust this value to make the nav horizontally smaller */
        margin: 0 auto; /* Center the nav horizontally */
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0 0.3rem;
    }
    a {
        color: rgb(184, 167, 167);
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        border: 1px solid rgb(184, 167, 167);
        border-radius: 4px;
        background-color: transparent;
    }
    a:hover {
        color: #ddd;
        background-color: rgba(184, 167, 167, 0.1);
    }
    @media (max-width: 768px) {
        ul {
            flex-direction: column;
            align-items: center;
        }
        li {
            margin: 0.5rem 0;
        }
    }
</style>

<nav>
    <ul>
        <li>
            <a href="/" class="button">Home</a>
        </li>
    </ul>
</nav>