---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<main>
		<NavBar />

		<h1>{frontmatter.title}</h1>
		<div class="content-wrapper">
			<slot />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #e0e0e0; /* Light text color for readability */
		font-size: 20px;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: rgb(var(--accent-light)); /* Accent color */
	}

	.content-wrapper {
		background: linear-gradient(145deg, #2a2f36, #1c1f24); /* Gradient similar to the blog card */
		border-radius: 15px;
		padding: 2rem;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adjusted for stronger shadow */
		margin-bottom: 2rem;
	}
</style>
