---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<main>
		<NavBar />

		<h1>{frontmatter.title}</h1>
		<div class="content-wrapper">
			<slot />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.content-wrapper {
		background-color: #2b2b2b; /* Darker background for the slot content */
		border-radius: 15px; /* Curved edges */
		padding: 2rem; /* Padding for spacing inside */
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for a card effect */
		margin-bottom: 2rem;
	}
</style>
